@CHARSET "utf-8";
body
{
	margin: 0px;
	font-family: "Tahoma";
	font-size: 12px;
	background: #D8D8D8;
}
#container
{
	width: 980px;
	height: 550px;
	margin: 0 auto;
}

#member-account
{
	width: 70%;
	height: 730px;
	background: white;
	margin-top: 20px;
	border: 1px solid silver;
	float: left;
}


#settings
{
	height: 145px;
	float: right;
	width: 27%;
	margin-top: 20px;
	border: 1px solid silver;
}

#member-account .title
{
	width: 680px;
	height: 30px;
	background: #F0F0F0;
	padding: 5px 0 0 5px;
}

.page-title
{
	height: 30px;
	font-size: large;
	margin-left: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #F0F0F0;
}
img
{
	margin-right: 10px;
}

#acc-profile-names
{
	width: 150px;
	height: 350px;
	text-align: right;
	float: left;	
}

#names
{
	tex-align: right;
	width: 150px;
}

#names tr
{
	height: 70px;
}

#fields tr
{
	height: 70px;
	font-size: 80%;
}

#acc-profile-fields
{
	width: 500px;
	height: 350px;
	float: left;
	margin-left: 20px;
}

.set
{
	width: 255px;
	border-bottom: 1px solid silver;
	height: 25px;
	background: white;
	padding: 10px 0 0 10px;
}
.set:nth-child(1)
{
	background: #F0F0F0;
}
#
{
	border: 0;
	background-color: none;
}

.footer
{
	margin-top: 5px;
	clear: both;
}