@CHARSET "ISO-8859-1";
body
{
	margin: 0px;
	font-family: "Tahoma";
}

header
{
	background-color: #445d9d;
	height: 50px;
}

#pageTopInner
{
	margin: 0 auto;
	width: 990px;
	height: 50px;
}

#pageTopInner .Logo
{
	width: 160px;
	height: 45px;
	float: left;
}

nav
{
	width: 290px;
	height: 50px;
	float: right;
}

nav ul
{
	margin-top: 15px;
    padding: 0;
}

nav ul li
{
	display: inline-block;
	color: #ffffff;
}
