@CHARSET "utf-8";
/***********Main body page style***********/
body
{
	margin: 0px;
	padding: 0px;
	font-family: "Tahoma";
}

/***********Container***********/
#profile_mainPage
{
	width: 100%;
	height: 620px;
	background: silver;
	position: absolute;
}

#profileImage
{
	width: 105px;
    height: 125px;
    background: blue;
    border-top-left-radius: 10em;
    border-top-right-radius: 10em;
    margin-top: -87px;
    margin-left: 20px;
    position: absolute;
}


#profile_halfUpper
{
	width: 980px;
	height: 270px;
	background: white;
	margin: 0 auto;
}

#profile_halfBottom
{
	width: 980px;
    height: 56%;
    border: 1px solid green;
    margin: 0px auto;
}
#posts-table
{
    width: 560px;	
    height: 600px;
}
#status
{
	height: 130px;
    border: 1px solid black;
        
}
#status-details
{
  height: 25px;
}
#status > textarea
	{
	resize: none;
    width: 553px;
    height: 60px;
	}
#status > #submit
{
    float: right;
    background-color: blue;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    height: 27px;
    width: 48px;	
	
}

#coverImage
{
	background-image: url("../imgs/cover.jpg);
	width: 100%px;
	height: 170px;
	margin: 0 auto;
	border: 1px solid yellow;
}

